[user]
    name = Proxy Server

[color]
    diff = auto
    status = auto
    branch = auto
	ui = true

[push]
    default = simple

[merge]
    tool = vimdiff

[mergetool]
    keepBackup = false

[gui]
	fontui = -family Hack -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Hack -size 11 -weight normal -slant roman -underline 0 -overstrike 0

[credential]
	helper = cache --timeout=86400

[commit]
        template = ~/.gitmessage

[core]
	editor = vim